* {
	padding: 0;
    margin: 0;
    text-align: center;
    vertical-align: top;
    color: white;
}
body {
    background-image: url('Screenshot_20180205-221352.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 800px;
}
#splash {
    width: 100%;
    text-align: center;
    position: absolute;
    transition-duration: .5s;
    z-index: 1;
}
.w3-display-middle {
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%,-50%);
    -ms-transform : translate(-50%,-50%);
}
h1, h2 {
    font-family: Poiret One;
    font-size: 4rem;
    color: white;
}
h2 {
    font-size: 2rem;
    color: goldenrod;
}
h3 {
    font-family: Poiret One;
    font-size: 1.5rem;
    color: goldenrod;
    width: 100%;
    background-color: white;
}
.headercontainer {
    width: 600px;
    display: inline-block;
    padding: 5px;
}
.desc {
    width: 600px;
}
#topbar {
    height: 150px;
    width: 100%;
    background-color: white;
    position: relative;
    top: -200px;
}
ul {
    margin-top: 5px;
    list-style-type: none;
    font-family: Nanum Gothic;
    margin-bottom: 20px;
}
#main-container {
    height: auto;
    opacity: 0;
    transition-duration: .5s;
    padding: 50px 0px 50px 0px;
    background-color: #00000055;
    /* overflow-y: scroll; */
}
p {
    color: white;
    font-family: Nanum Gothic;
}

#bottombar {
    height: 150px;
    width: 100%;
    background-color: white;
    padding: 50px 25% 0 25%;
}
#bottombar table {
    width: 50%;
}
table p, table tr td {
    color: goldenrod;
    font-family: Nanum Gothic;
    text-align: left;
}
#left, #right {
    display: inline-block;
    /* background-color: lightgreen; */
    height: 150px;
    width: 40%;
    padding-top: 50px;
}
.nav {
    font-family: Nanum Gothic;
    text-align: right;
    color: goldenrod;
    font-size: 1rem;
    margin: 0px 15px 0px 15px;
    position: relative;
    transition-duration: .5s;
}
.nav:hover{
    color: black;
    cursor: default;
    /* animation-name: navhover;
    animation-duration: .5s; */
}
/* @keyframes navhover {
    100% {
        top: 5px;
    }
} */
.hidden {
    display: none;
}