* {
	padding: 0;
    margin: 0;
    text-align: center;
    vertical-align: top;
    color: white;
}
#background {
    background-image: url('Screenshot_20180205-221352.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: -1;
    height: 100%;
    width: 100%;
    position: fixed;
}
#splash {
    width: 100%;
    height: 100%;
    text-align: center;
    position: fixed;
    transition-duration: .5s;
    z-index: 1;
    background-color:white;
    color: goldenrod;
}
#arrow-container > .material-icons {
    position: relative !important;
    bottom: -100px;
    transition-duration: 2s;
}
.goldenrod {
    color: goldenrod;
}
.w3-display-middle {
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%,-50%);
    -ms-transform : translate(-50%,-50%);
}
h1 {
    font-family: Poiret One;
    color: goldenrod;
    font-size: 5rem;
}
h2 {
    font-family: Poiret One;
    font-size: 4rem;
    color: white;
}
h2 {
    font-size: 2rem;
    color: goldenrod;
}
h3 {
    font-family: Poiret One;
    font-size: 1.5rem;
    color: goldenrod;
    margin-left: 25%;
    margin-bottom: 10px;
    width: 50%;
    background-color: white;
}
h4 {
    font-family: Poiret One;
    color: white;
    font-size: 1rem;
}
#services-content {
    text-align: center;
}
#servicestable {
    margin-left: 25%;
}
#services1, #services2 {
    display: inline-block;
    height: auto;
    width: 300px;
    margin-bottom: 10px;
}
td h3 {
    background-color: white;
}
.headercontainer {
    width: 50%;
    display: inline-block;
    padding: 5px;
}
#topbar {
    height: 100px;
    width: 100%;
    padding-top: 50px;
    background-color: white;
    position: relative;
    /* top: -200px; */
}
.left, .right {
    display: inline-block;
    width: auto;
}
#topbar > .left, #topbar > .right {
    height: 50px;
    margin: 0 5% 0 5%;
}
/* to align nav with title */
#topbar > .right {
    padding-top: 11px;
}
.goldennanum {
    color: goldenrod;
    font-family: Nanum Gothic;
}
#buttons {
    margin-top: 10%;
}
#buttons > button {
    height: 100px;
    width: 25%;
    font-size: 2rem;
    background-color: unset;
    border: 4px solid white;
    transition-duration: 0.5s;
}
#buttons > button:hover {
    background-color: white;
    color: goldenrod;
}
input[type=submit] {
    border: 2px solid goldenrod;
    background-color: white;
    color: goldenrod;
    padding: 4px;
    transition-duration: .5s;
}
input[type=submit]:hover {
    color: white;
    background-color: goldenrod;
}
#modal {
    width: 100%;
    height: 80%;
    position: fixed;
    background-color: white;
    border-top: 10px solid goldenrod;
    z-index: 1;
    top: 100%;
    visibility: hidden;
    transition-duration: .5s;
}
#hidemodal {
    color: goldenrod;
    cursor: pointer;
}
#hidemodal:hover {
    color: black;
}
#modal-content {
    margin-top: 5%;
}
select, option, optgroup, input {
    color: black;
    font-size: 1.5rem;
    width: 400px;
    margin-bottom: 10px;
}
ul {
    margin-top: 5px;
    list-style-type: none;
    font-family: Nanum Gothic;
    margin-bottom: 20px;
}
#main-container {
    height: auto;
    opacity: 1;
    transition-duration: .5s;
    padding: 50px 5% 50px 5%;
    background-color: #00000025;
}
p {
    color: white;
    font-family: Nanum Gothic;
    font-size: 1.5rem;
}

#bottombar {
    height: auto;
    width: 80%;
    background-color: white;
    padding: 50px 10% 50px 10%;
}
#operatinghours tr td:nth-child(2){
    width: 120px;
}
#nav-container {
    /* padding-top: 20px; */
    margin-left: 50px;
    display: table-cell;
    vertical-align: bottom;
}
#mobilenav {
    height: 50px;
    width: 50px;
    background-color: purple;
}
#bottombar > .left > p, #bottombar > .left > td {
    font-size: 1rem;
}
.nav {
    font-family: Nanum Gothic;
    text-align: right;
    color: goldenrod;
    font-size: 1.25rem;
    margin: 0px 15px 0px 15px;
    position: relative;
    transition-duration: .5s;
}
@media only screen and (max-width: 720px) {
    .nav {
        margin: 0px 5px 0px 5px;
    }
    #main-container {
        height: 200%;
    }
    /* .photo {
        height: auto;
        width: 100%;
    } */
}
@media only screen and (max-width: 600px) {
    #bottombar > .left {
        display: block;
    } 
    #operatinghours {
        margin-top: 50px;
    }
}
@media screen and (orientation:portrait), screen and (max-width: 672px){
    h4 {
        font-size: 1.75rem;
    }
    li, p {
        font-size: 1.5rem;
    }
    #services1, #services2 {
        width: 550px;
    }
}
.nav:hover{
    color: black;
    cursor: default;
    /* animation-name: navhover;
    animation-duration: .5s; */
}
/* @keyframes navhover {
    100% {
        top: 5px;
    }
} */
.hidden {
    display: none;
}
/* slidesjs */
#slides {
    background-color: #00000055;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.photo {
    height: 100%;
    /* width: auto; */
}