* {
	padding: 0;
    margin: 0;
    text-align: center;
    vertical-align: top;
    color: white;
}
#background {
    background-image: url('Screenshot_20180205-221352.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: -1;
    height: 100%;
    width: 100%;
    position: fixed;
}
/* #splash {
    width: 100%;
    text-align: center;
    position: absolute;
    transition-duration: .5s;
    z-index: 1;
} */
.w3-display-middle {
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%,-50%);
    -ms-transform : translate(-50%,-50%);
}
h1, h2 {
    font-family: Poiret One;
    font-size: 4rem;
    color: white;
}
h2 {
    font-size: 2rem;
    color: goldenrod;
}
h3 {
    font-family: Poiret One;
    font-size: 1.5rem;
    color: goldenrod;
    margin-left: 25%;
    width: 50%;
    background-color: white;
}
h4 {
    font-family: Poiret One;
    color: white;
    font-size: 1rem;
}
#services-content {
    text-align: center;
}
#servicestable {
    margin-left: 25%;
}
td h3 {
    background-color: white;
}
.headercontainer {
    width: 50%;
    display: inline-block;
    padding: 5px;
}
#topbar {
    height: 100px;
    width: 100%;
    padding-top: 50px;
    background-color: white;
    position: relative;
    /* top: -200px; */
}
.left, .right {
    display: inline-block;
    width: auto;
}

.goldennanum {
    color: goldenrod;
    font-family: Nanum Gothic;
}
ul {
    margin-top: 5px;
    list-style-type: none;
    font-family: Nanum Gothic;
    margin-bottom: 20px;
}
#main-container {
    height: auto;
    opacity: 1;
    transition-duration: .5s;
    padding: 50px 5% 50px 5%;
    background-color: #00000055;
}
p {
    color: white;
    font-family: Nanum Gothic;
}

#bottombar {
    height: auto;
    width: 80%;
    background-color: white;
    padding: 50px 10% 50px 10%;
}
#operatinghours tr td:nth-child(2){
    width: 120px;
}
#navcontainer {
    padding-top: 20px;
}
#mobilenav {
    height: 50px;
    width: 50px;
    background-color: purple;
}
.nav {
    font-family: Nanum Gothic;
    text-align: right;
    color: goldenrod;
    font-size: 1.25rem;
    margin: 0px 15px 0px 15px;
    position: relative;
    transition-duration: .5s;
}
.right {
    /* background-color: pink; */
    margin-left: 5%;
}
@media only screen and (max-width: 950px) {
    .nav {
        margin: 0px 5px 0px 5px;
    }
}
@media only screen and (max-width: 720px) {
    .nav {
        margin: 0px 5px 0px 5px;
    }
    #main-container {
        height: 200%;
    }
    /* #operatinghours {
        margin-top: 50px;
    } */
}
@media only screen and (max-width: 600px) {
    #bottombar > .left {
        display: block;
    } 
    #operatinghours {
        margin-top: 50px;
    }
}
@media screen and (orientation:portrait) {
    /*  */
}
.nav:hover{
    color: black;
    cursor: default;
    /* animation-name: navhover;
    animation-duration: .5s; */
}
/* @keyframes navhover {
    100% {
        top: 5px;
    }
} */
.hidden {
    display: none;
}